.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
  margin-top: 20px;

  & .footer__logo, & .footer__description, & .footer__join {
    padding: 20px;

    & p {
      padding: 5px;
    }
  }
}

/* ************** MEDIA QUERIES ************* */

@media (max-width: 995px) {
  .footer {
    & .footer__logo, & .footer__description {
      display: none;
    }

    & .footer__join {
      text-align: center;

    }
  }
}
