.profil {
  background: #2196f3;
  display: flex;
  justify-content: space-around;


  & img {
    width: 180px;
    height: 180px;
    padding: 10px;
  }

  & .descriptionMask {
    width: 50%;
    margin-left: -80px;

    & p {
      padding: 10px;
      color: white;
    }

    & h2 {
      color: white;
      margin-top: 10px;
    }

    & button {
      border-radius: 20px;
      background-color: yellow;
      padding: 15px;
    }
  }

}

/************ MEDIA QUERIES ************************/

@media (max-width: 995px) {
  .profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .descriptionMask {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      margin-left: auto;
      margin-right: auto;

      & p {
        text-align: center;
      }
    }

    & button {
      border-radius: 20px;
      background-color: yellow;
      margin: 10px;
    }

    & h2 {
      text-align: center;
    }

  }

}
