footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #455a64;

  & a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 11px;

  }

  & a:hover {
    color: red;
  }

  & img {
    margin-left: 10px;
    padding: 10px;
  }
}

/* ***************** MEDIA QUERIES ********************* */

@media (max-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    & .footerNav {
      display: none;
    }
  }
}